/* Color Template  */
.color-primary{
    color: $color-primary;
}

.bg-primary-color{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.bg-second-color {
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
}

.bg-yellow-color{
    background: $color-yellow;
}